---
import { cn } from "@/utils/classes"
interface Props {
  id: string
  class?: string
}

const { 
  id,
  class: className
} = Astro.props
---

<div data-dialog-overlay-id={id} class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div 
    data-dialog-content-id={id} 
    class={
      cn(
        className ? className : 'bg-white p-4 rounded-lg',
      )
    }
    >
    <slot />
  </div>
</div>


<script is:inline define:vars={{ id }}>
  document.addEventListener("astro:page-load", () => {
    const modal = document.querySelector(`[data-dialog-content-id="${id}"]`);
    const buttons = document.querySelectorAll(`[data-dialog-open="${id}"]`);
    const overlay = document.querySelector(`[data-dialog-overlay-id="${id}"]`);

    if (!modal || !buttons || !overlay) {
      return;
    }

    gsap.set(modal, { scale: 0.5 });
    gsap.set(overlay, { opacity: 0, display: 'none' });

    buttons.forEach((button) => {
      button.addEventListener('click', openModal);
    });

    overlay.addEventListener('click', (e) => {
      if (e.target === overlay) {
        closeModal();
      }
    });

    function closeModal() {
      gsap.to(modal, { scale: 0.5, duration: 0.2 });
      gsap.to(overlay, { opacity: 0, display: 'none', duration: 0.2 });
    }

    function openModal() {
      gsap.to(modal, { scale: 1, duration: 0.2 });
      gsap.to(overlay, { opacity: 1, display: 'flex', duration: 0.2 });
    }
    
  });

</script>

